/* delays any animation from starting until the content loads, preventing timing issues */
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
/*---------------------------------------------------------------------------------------  */

  .intro {
    font-family: 'Anton', sans-serif;
    line-height: 1;
    letter-spacing: -1px;
  }
  
  .skills {
    font-family: 'Anton', sans-serif;
    font-size: 33px;
    text-align: cemter;
    margin-left: 10px;
    margin-bottom: 52px;
    line-height: 1;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s cubic-bezier(.190, 1.000, .220, 1.000) 4.7s;
    -webkit-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #d85904;
  }
  
  .animate .skills {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  
  .intro-text {
    font-family: 'Anton', Helvetica, sans-serif;
    text-transform: uppercase;
    opacity: 0;
    color: #ffffff;
    filter: alpha(opacity=0);
  }
  
  .hi {
    -webkit-transition: all .3s ease-in-out 2.0s;
    transition: all .3s ease-in-out 2.0s;
    letter-spacing: -1px;
  }
  
  .im {
    -webkit-transition: all .3s ease-in-out 2.6s;
    transition: all .3s ease-in-out 2.6s;
    letter-spacing: -1px;
  }
  
  .mark {
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.9s;
    transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.9s;
    letter-spacing: -1px;
    font-weight: bolder;
    color: #11abb0;
  }
  
  .groves {
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3.2s;
    transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3.2s;
    letter-spacing: -1px;
    font-weight: bolder;
    color: #11abb0;
  }
  
  .web {
    -webkit-transition: all .3s ease-in-out 4.1s;
    transition: all .3s ease-in-out 4.1s;
    letter-spacing: -1px;
  }
  
  .animate .hi {
    font-size: 50px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .animate .im {
    font-size: 50px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .animate .mark {
    font-size: 70px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .animate .groves {
    font-size: 70px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .animate .web {
    font-size: 50px;
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    opacity: 1;
    filter: alpha(opacity=100);
  }

/* Text fade-in */

  .fade {
    opacity:0;
    opacity: 1 \9;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
  }
  
  /* Keyframes for the fade-in */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }